.zoom {
    transition: transform .2s; /* Animation */
    align-items:self-end;
    margin: 0 auto;
    box-shadow: 1px 1px 10px black;
    border: 1px solid whitesmoke;
    margin: 1px;
    background-color: blanchedalmond;
    border-style:outset;
    border-radius: 5px;

 
  }
  
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
  box-shadow: 1px 1px 10px black;
  border: 1px solid whitesmoke;
  margin: 1px;
  background-color: blanchedalmond;
  border-style:outset;
  border-radius: 5px;

  }

h1.color{
    font-kerning: auto;
}

header,nav{
    color:gray;
    
}

body{
    width: 90%;
    margin: 5%;
    border-radius: 5px;
    background-color: grey;
    border: 1px solid whitesmoke;
    color: aliceblue;
    background-image: url(https://images.pexels.com/photos/414837/pexels-photo-414837.jpeg);
    background-repeat: no-repeat;
    background-size: 300% 300%;
    background-position-x: center;
    background-position-y: center;
    
}

section{
    width: 85%;
    padding: 5%;
    margin: 5%;
    content: 100%;
    align-content: center;
    border-radius: 5px;
    background-color:bisque;
    border: 1px solid whitesmoke;
    color: black;
    box-shadow: 2px 8px 8px black;
 
}

p.foto{
    width: 85%;
    padding: 5%;
    margin: 5%;
    content: 100%;
    align-content: center;
    border-radius: 5px;
    background-color:bisque;
    color: black;

    
}
p{
    margin:5px;
}
#quadrofoto{
    border: 1px solid whitesmoke;
    margin: 1%;
    background-color: blanchedalmond;
    border-style:outset;
    border-radius: 5px;
    
}




