body{
    margin: 5%;
    padding: 5%;
    align-items: center;
}

header{
    background-color: rgb(150, 209, 13);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin: 5%;
    padding: 5%;
    align-items: center;
  
}

nav{
    margin: 5%;
    padding: 5%;
    align-items: center;
}



section{
    background-color: bisque;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-left-style:dotted;
    margin: 5%;
    padding: 5%;
    align-items: center;
     
}

footer{
    margin: 5%;
    padding: 5%;
    align-items: center;
}

div{
    border-radius: 2%;
    border-width: 2%;
    margin: 2%;
    padding: 2%;
    background-color: aquamarine;
}