body{
    margin: 5%;
    padding: 5%;
    align-items: center;
    border-style: groove;
    text-align: center;
    font-style: normal;
}

header{
    background-color: rgb(150, 209, 13);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin: 5%;
    padding: 5%;
    align-items: center;
    border-style: groove;
  
}

nav{
    margin: 5%;
    padding: 5%;
    align-items: center;
    border-style: groove;
}



section{
    background-color: bisque;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-left-style:dotted;
    margin: 5%;
    padding: 5%;
    align-items: center;
    border-style: groove;
    text-align: left;
    
     
}

footer{
    margin: 5%;
    padding: 5%;
    align-items: center;
}

div {
    width: 80%;
    border: 1px solid green;
    padding: 2%;
    align-self: start;
    margin: 5%;
    left: 5%;
    box-shadow: 2px 2px 9px rgb(7, 2, 54);
    width: calc(100% - 100px);
  }