body {
    background-image: url("https://raw.githubusercontent.com/marcionoronha1995/futurodev2023/main/Exercicio2v1/img/IMG_20230216_205400_2.jpg");
    background-color: black;
    opacity: 0.8;
}



