body {
    padding: 0px;
    background-color: white;
}

header.bgheader {
    height: 400px;
    background-image: url("https://github.com/marcionoronha1995/futurodev2023/blob/main/Exercicio2v1/img/pexels-l%C3%BAcio-arantes-3656636.jpg?raw=true");
    width: 100%;
    background-clip:content-box;
    background-repeat: no-repeat;   
    background-attachment:inherit; 
}
header.bgheadertexto {
    opacity: 1;
}

div.photo-bg {
    width: 120px;
    height: 120px;
    margin: 3px;
}

div.quadro-bg {
    width: 100%;
}



div.bordadecimapg {
    margin: 5px;
    content: normal;
    width: 100%;
    height: 50px;
    background-color: aqua;
    
} 

div.pedapagina {
    height: 50px;
    margin: 0px;
}


