body,div,nav,section{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: dimgrey;
    border-radius: 5px;
    background-color:rgb(1, 10, 20);
    color:aliceblue;
}
div{
    margin: 25px;
}
section{
    margin: 35px;
}
section.quadrofoto{
    margin: 0px;
    width: 100%;
}
section.quadro{
    margin: 5px;
    width: 30%;
}

