body{
    border: 1px solid black;
    padding: 2%;
    border-radius: 5px;
    }
header,nav,section,footer,ul{
    border: 1px solid black;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    background-color: lightblue;  
    align-items: center;
    border-style: solid;
    border-radius: 5px;  
    box-sizing:content-box;
    margin:2%

}
nav{
    background-color:darkslategrey;
    color:aliceblue
}
header{
    background-color: azure;
}
footer{
    background-color: antiquewhite;
}
ul{
    background-color: aliceblue;
}
